/* .download-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
} */

.download-left {
}

.download-right {
    
    padding-right: 0rem;
    /* padding-bottom: 200px; */
    /* margin-bottom: 10rem; */
    
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-code-image {
    max-width: 250px;
    /* Adjust as needed */
    height: auto;
}

.qr-code-text {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1;
    color: #ffffff;
}


@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.download-paragraph {
    animation: fadeInOut 2s ease infinite;
    filter: brightness(1.2);
    color: #8F43EE;

}
img{
 
     filter: brightness(0.8);
     
}
