.features-container {
    background-color: black;
    /* Set black background color */
    color: white;
    padding-bottom: 1.8rem;
}


.heading {
    padding-bottom: 25px; 
    color: #8F43EE; 
    font-weight: 200; 
    font-size: 2.3rem;
    letter-spacing: 1px;
}

p{
    padding: 0.25rem;
    font-size: 1rem;
    color : #7C96AB;
}
.highlight {
    color: #8F43EE;
    font-size :1.1rem;
    font-weight: bold;
}
img{
     filter: brightness(1);
}