.features-container {
    background-color: black;
    /* Set black background color */
    color: white;

    padding-bottom: 1.8rem;
}




.features-container .col-lg-4 {
    opacity: 0;
    /* Start with 0 opacity */
    transform: translateY(20px);
    /* Move elements down initially */
    animation: fadeInAndSlideUp 1s ease forwards;
}

@keyframes fadeInAndSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.heading {
    padding-bottom: 25px; 
    color: #8F43EE; 
    font-weight: 200; 
    font-size: 2.3rem;
    letter-spacing: 1px;
}

p{
    padding: 0.25rem;
    font-size: 1rem;
    color : #7C96AB;
}
.highlight {
    color: #8F43EE;
    font-size :1.1rem;
    font-weight: bold;
}
img{
     filter: brightness(1);
}