.profile-drawer {
    position: fixed;
    top: 0;
    margin-top: 16.1vh;
    right: -300px;
    height: 85vh;
    width: 300px;
    background-color: #191825;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: right 0.3s ease;
}

.profile-drawer.open {
    right: 0;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    border-style: solid;
}

.user-name {
    margin: 0;
    font-size: 1.2rem;
    padding-top: 1.1rem;
}
.user-email{
    font-size: 0.8rem;
}

.divider {
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
}
.logoutLink{
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #8F43EE;
}

.drawer-button {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #f2f2f2;
    transition: background 0.3s ease;
}

.drawer-button:hover {
    background-color:#ccc;
}

.space{
    height : 16vh;
}
.drawer-text {
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
}

.drawer-button1 {
    margin-top: 0;
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #f2f2f2;
    transition: background 0.3s ease;
}

.drawer-button1:hover {
    background-color: #ccc;
}